#backButton {
    background-color: #FDDB3A;
    margin-bottom: 2rem;
}

#businessShowHeader {
    font-size: 5rem;
    color: #F6F4E6;
}

#reviewCountShow {
    font-size: 1.5rem;
    color: #F6F4E6;
    margin-left: 10px;
}

#reviewContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

#businessPrice {
    font-size: 1.5rem;
    color: #F6F4E6;
    margin-right: 1rem;
}

.businessCategory {
    font-size: 1.5rem;
    color: #F6F4E6;
    margin-right: 1rem;
}